[submodule "pyglm/deps/pybasicbayes"]
	path = pyglm/deps/pybasicbayes
	url = https://github.com/mattjj/pybasicbayes.git
[submodule "pyglmdos/deps/pybasicbayes"]
	path = pyglmdos/deps/pybasicbayes
	url = https://github.com/mattjj/pybasicbayes.git
